.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid black;
    width: max-content;
}
.box{
    border: 1px solid black;
    width: 60px;
    height: 60px;
}
.op{
    font-size: 30px;
}