.paint-container,.container{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
   
    max-width:max-content ;
   margin: auto;
}
.sub-container{
   width:50px ;
   border: 1px solid black;
    height: 50px;
}
#first-subConatiner{
    background-color: red;
}
#second-subConatiner{
    background-color: blue;
}
#third-subConatiner{
    background-color: green;
}
