.star-container{
    display: flex;
    flex-direction: row;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}
.star{
    opacity: 50%;
   font-size: 100px;
   cursor: pointer;
}
.star:hover{
    opacity: 100%;
   font-size: 100px;
   cursor: pointer;
}
 /* .star:hover ~ .star{
    opacity: 100%;
} */
